<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 12.02.2019, 10.51</p>
            <h2><a href="">My first post</a></h2>
            <p>5910110419 Pun Ruengjaruwatana</p>
        </div>

        <div>
            <p>published: 12.02.2019, 10.52</p>
            <h2><a href="">My second post</a></h2>
            <p>3SB04 Django Web Framework</p>        
        </div>
    </body>
</html>
